<div class="row">
  <div class="col">
    <h2 class="display-4">Vos Livres</h2>
    <ul class="list-group">
      <button 
      *ngFor="let book of books; let i=index" 
      class="list-group-item d-flex justify-content-between align-items-center"
      (click)="onViewBook(i)">
        {{book.title | titlecase}}
        <button class="btn btn-primary" (click)="onDeleteBook(i)"><fa-icon [icon]="faMinus"></fa-icon></button>
      </button>
    </ul>
    <button class="btn btn-primary mt-2" (click)="onNewBook()">Nouveau Livre</button>
  </div>
</div>
